<div ng-controller="SearchCtrl">
  <h1>Search Flickr</h1>

  <form ng-submit="submit()">
    Enter text and hit enter:
    <input type="text" ng-model="searchText" name="text" />
    <input type="submit" id="submit" value="Submit" />
  </form>

  <div ng-show="results.length > 0" ng-repeat="result in results">
    <a href="{{result.url}}"><img src={{result.static_url}}" width="100" length="100"></a>
    <br>
  </div>

  <div ng-show="errors.length > 0" ng-repeat="error in errors">
    {{error.error}}
  </div>
</div>

